
#flickr{
    text-align: center;
}

#main-images {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.main-image-area {
    margin-bottom: 20px;
    height: 450px;
    width: 400px;

}

.main-just-image {
    height: 300px;
    width: 300px;
}

#single-image-area {
    text-align: center;
}

.big-single-image {
    height: 500px;
    width: 700px;
}

#upload-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left:40px;

}


#home-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left:40px;

}
