body {
    background-image: url('Media/cork.jpg');
    background-size: cover;
    font-family: "header";
}
@font-face{
    font-family: "header";
    src: 'Media/header.ttf';
}
#header {
    width: 100%;
    text-align: center;
    font-family: "header";
}
#postit {
    margin-left: 10%;
    width: 300px;
    height: 100px;
    transform: rotate(-10deg);
    background-color: #297ed8;
}
.thumb {
    width: 30px;
    margin-top: 5px;
    left: 15px;
    clear: both;
    position: absolute;
    float: left:
}
#headertext {
    width: 250px;
    margin-left: 55px;
    margin-top: 4px;
    clear: both;
    position: absolute;
    float: right;
}
#header a {
    text-decoration: none;
}
#header h1 {
    color: black;
    font-size: 2.25em;
}
#headerbuttons {
    position: absolute;
    float: right;
    right: 20px;
    top: 20px;
    text-align: center;
    background-color: #f2ff3d;
    padding: 15px 20px 15px 60px;
}
#headerbuttons a {
    font-size: 1.25em;
    color: black;
    font-weight: bold;
    display: inline-block;
}
#adminbutton{
    margin-bottom: 10px;
}
#headerbuttons img {
    margin-top: -15px;
    margin-left: -5px;
}
/*Home Page*/
#resultsContainer{
    color: black;
    width: 100%;
    position: relative;
    margin-top: 2em;
    height: auto;
    overflow: hidden;
    text-align: center;
}
#message {
    display: inline-block;
    padding: 15px 60px 15px 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #f9b1cf;
}
#results {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#resultItem {
    width: 220px;
    height: 300px;
    margin: 20px 50px 20px 50px;
    background-color: white;
}
.picture {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: relative;
    margin-top: 10px;
}
.name {
    position: relative;
}
#resultItem a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
#title {
    width: 100%;
    margin: 0;
    margin-top: 10px;
}
.likes{
    position: relative;
    width: 100px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.like {
    background-image: url('Media/like.png');
    background-size: contain;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    width: 30px;
    height: 30px;
    cursor:pointer;
}
#more {
    background-color: #b9e356;
    border: none;
    width: 250px;
    height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "header";
}
/*Upload Page*/
#uploadcontainer {
    background-color: white;
    border: none;
    width: 700px;
    height: 1000px;
    color: black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#uploadform {
    width: 100%;
    padding-top: 5%;
    background-color: white;
    margin-top: 5%;
}
#message2{
    width: 700px;
}
#uploadform input{
    display: inline-block;
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    height: 50px;
}
#image {
    margin-top: 5%;
    color: black;
}
#other {
    width: 100%;
}
#imagecontainer {
    margin-left: 3%;
    position: absolute;
    background-color: white;
    width: 45%;
}
#imagecontainer img {
    margin-top: 5%;
    width: 600px;
    height: auto;
}
#comments {
    position: absolute;
    background-color: white;
    width: 45%;
    left: 50%;
}
.addcomment {
    margin-top: 5%;
}
.addcomment input {
    margin: 5px;
}
