#images {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.image-area {
    margin-bottom: 20px;
    height: 450px;
    width: 400px;

}

.image {
    height: 300px;
    width: 300px;
}
