body. html {
    height: 100%;
    width: 100%;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    top; 0;
    left: 0;
    z-index: 5;
}

.picture {
    width: 250px;
    height: 250px;
    margin: 15px;
    overflow: hidden;
    border: 2px black solid;
}

.big-pic-container {
    margin: 5% 10%;
    top: 0;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 80%;
    z-index: 6;
}

.comments {
    background-color: white;
    width: 400px;
    height: 500px;
}


.big-pic-div {
    width: 500px;
    height: 500px;
}

.picture-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 1000px;
    background-color: lightgrey;
}

.description-text {
    position: absolute;
    width: 250px;
    height: 250px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color: black;
    z-index: 1;
}

img {
    height: 100%;
    width: 100%;
}

#main{
    text-align: center;
}

#submit-photo-container {
    position: fixed;
    top: 15%;
    left: 10%;
    background-color: transparent;
    z-index: 3;
    width: 80%;
    height: 70%;
    min-width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#file-input-container {
    background-color: whitesmoke;
    height: 250px;
    width: 250px;
    border: 2px black solid;
}

#file-input-container form {
    height: 50%;
    width: 100%;
    margin: 0px auto;
}

#page {
}

.clickedbackground {
	animation-name: clickedbackground;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes clickedbackground {

	from {
		background-color: white;
	}

	to {
		background-color: black;
	}
}

.unclickedbackground {
	animation-name: unclickedbackground;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@-webkit-keyframes unclickedbackground {

	from {
		background-color: black;
	}

	to {
		background-color: white;
	}
}

#placeholder {
    height: 250px;
    width: 250px;
    border: 2px black solid;
}

#form-container {
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    border: 2px black solid;
}

#x {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

#upload-image {
    width: 200px;
    margin: 15px auto;
    background-color: midnightblue;
    border: #795548 3px solid;
    border-radius: 15px;
    color: whitesmoke;
    display: inline-block;
    vertical-align: top;
}

#upload-image:hover, .arrow:hover{
    cursor: pointer;
}

.arrow {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.tags a{
    text-decoration: none;
    color: green;
}

.tags a:hover{
    text-decoration: none;
    color: black;
}

.comment-icon {
    height: 30px;
    width: 30px;
}

#comments {
    height: 60%;
    overflow-y: scroll;
}

#avatar-upload-container {
    height: 40%;
    background-color: powderblue;
}

#comment-string {
    width: 379px;
    height: 65px;
}

#avatar-preview {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

.comment {
    border: 1px groove;
}

.commenter {
    display: inline-block;
    font-weight: bold;
}

.comment-text {
    margin-left: 10px;
    display: inline-block;
}
